# ignore all sqlite files
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# ignore all compiled python files
*.pyc
*.pyo
__pycache__

# ignore system files
.DS_Store

# ignore logs
*.log
*.bak

backend/gui_plugin/core/webroot
backend/.coverage
backend/plugin-test-coverage.xml
backend/plugin-tests.xml
htmlcov

# production
frontend/build
frontend/src/oci-typings
**/generated
**/out
frontend/.rollup.cache

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#app wrapper
frontend/src/app-wrapper/windows/.vs
frontend/src/app-wrapper/windows/.cr
frontend/src/app-wrapper/windows/mysql-shell-gui/bin
frontend/src/app-wrapper/windows/mysql-shell-gui/obj
frontend/src/app-wrapper/windows/packages
package-lock.json
frontend/src/tests/e2e/selenium

# Embedded Shell in Extension
extension/shell
extension/packaging

# e2e testing
frontend/src/tests/e2e/screenshots
frontend/src/tests/e2e/attachScreenshots.js
frontend/src/tests/e2e/test-report.html

extension/src/e2e/**/*.js
extension/mochawesome-report
extension/tests/e2e/screenshots
extension/tests/e2e/test-resources
extension/tests/e2e/output

# frontend testing
frontend/coverage
frontend/src/tests/unit-tests/shell-test



