.vscode/**
.vscode-test/**
output/**
node_modules/**
scripts/**
src/**
**/*.map
.gitignore
.eslintrc.json
.mocharc.json
tsconfig.json
cspell.json
**/.antlr
packaging/**
images/screenshots/**
tests/**
out/extension/**
out/frontend/**
