*.pyc
.DS_Store
*.bak
.coverage
htmlcov
plugin-test-coverage.xml
plugin-tests.xml
.vscode/launch.json
package-lock.json

*.interp
grammar/antlr-4.13.0-complete.jar
db_schema/mrs_metadata/default_static_content/config.data.json
